## Predictions on the dataset : ML

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### loading the data : training data(train and old test)

In [5]:
### since it's a regression problem so it means no smote is required and,
### since the train and test data is splited already so, no need for the train_test split from sklearn

In [2]:
df_train = pd.read_csv('clean_train.csv')
df_train

,Unnamed: 0,Source,Destination,Total_Stops,airline_IndiGo,airline_Jet Airways,airline_other,info_No info,day,month,year,dep_hour,dep_minute,arrival_hour,arrival_minute,duration_hours,price
0,0,2,2,3.0,1,0,0,1,24,3,2019,22,20,1,10,2,3897.0
1,1,3,3,2.0,0,0,0,1,1,5,2019,5,50,13,15,7,7662.0
2,2,4,4,2.0,0,1,0,1,9,6,2019,9,25,4,25,19,13882.0
3,3,3,3,1.0,1,0,0,1,12,5,2019,18,5,23,30,5,6218.0
4,4,2,2,1.0,1,0,0,1,1,3,2019,16,50,21,35,4,13302.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10676,10678,3,3,3.0,0,0,1,1,9,4,2019,19,55,22,25,2,4107.0
10677,10679,3,3,3.0,0,0,0,1,27,4,2019,20,45,23,20,2,4145.0
10678,10680,2,2,3.0,0,1,0,1,27,4,2019,8,20,11,20,3,7229.0
10679,10681,2,2,3.0,0,0,1,1,1,3,2019,11,30,14,10,2,12648.0
10680,10682,4,4,2.0,0,0,0,1,9,5,2019,10,55,19,15,8,11753.0

In [3]:
df_train.drop('Unnamed: 0', axis = 1, inplace = True)

In [4]:
df_train

,Source,Destination,Total_Stops,airline_IndiGo,airline_Jet Airways,airline_other,info_No info,day,month,year,dep_hour,dep_minute,arrival_hour,arrival_minute,duration_hours,price
0,2,2,3.0,1,0,0,1,24,3,2019,22,20,1,10,2,3897.0
1,3,3,2.0,0,0,0,1,1,5,2019,5,50,13,15,7,7662.0
2,4,4,2.0,0,1,0,1,9,6,2019,9,25,4,25,19,13882.0
3,3,3,1.0,1,0,0,1,12,5,2019,18,5,23,30,5,6218.0
4,2,2,1.0,1,0,0,1,1,3,2019,16,50,21,35,4,13302.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10676,3,3,3.0,0,0,1,1,9,4,2019,19,55,22,25,2,4107.0
10677,3,3,3.0,0,0,0,1,27,4,2019,20,45,23,20,2,4145.0
10678,2,2,3.0,0,1,0,1,27,4,2019,8,20,11,20,3,7229.0
10679,2,2,3.0,0,0,1,1,1,3,2019,11,30,14,10,2,12648.0
10680,4,4,2.0,0,0,0,1,9,5,2019,10,55,19,15,8,11753.0

In [18]:
X = df_train.drop('price', axis = 1)
y = df_train['price']

In [19]:
X.head()

,Source,Destination,Total_Stops,airline_IndiGo,airline_Jet Airways,airline_other,info_No info,day,month,year,dep_hour,dep_minute,arrival_hour,arrival_minute,duration_hours
0,2,2,3.0,1,0,0,1,24,3,2019,22,20,1,10,2
1,3,3,2.0,0,0,0,1,1,5,2019,5,50,13,15,7
2,4,4,2.0,0,1,0,1,9,6,2019,9,25,4,25,19
3,3,3,1.0,1,0,0,1,12,5,2019,18,5,23,30,5
4,2,2,1.0,1,0,0,1,1,3,2019,16,50,21,35,4

In [20]:
y.head()

0     3897.0
1     7662.0
2    13882.0
3     6218.0
4    13302.0
Name: price, dtype: float64

### train test split

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = 0.25)

In [23]:
print(f"{X_train.shape} : {y_train.shape} :: {X_test.shape} : {y_test.shape}")

(8010, 15) : (8010,) :: (2671, 15) : (2671,)

### loading the data : eval data(new test data)

In [15]:
X_eval = pd.read_csv('clean_test.csv')

In [16]:
X_eval.drop('Unnamed: 0', axis = 1, inplace = True)

In [17]:
X_eval

,Source,Destination,Total_Stops,airline_IndiGo,airline_Jet Airways,airline_other,info_No info,day,month,year,dep_hour,dep_minute,arrival_hour,arrival_minute,duration_hours
0,4,4,1.0,0,1,0,1,6,6,2019,17,30,4,25,10
1,3,3,1.0,1,0,0,1,12,5,2019,6,20,10,20,4
2,4,4,1.0,0,1,0,0,21,5,2019,19,15,19,0,23
3,4,4,1.0,0,0,1,1,21,5,2019,8,0,21,0,13
4,2,2,3.0,0,0,1,1,24,6,2019,23,55,2,45,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2665,3,3,1.0,0,0,0,1,6,6,2019,20,30,20,25,23
2666,3,3,3.0,1,0,0,1,27,3,2019,14,20,16,55,2
2667,4,4,1.0,0,1,0,1,6,3,2019,21,50,4,25,6
2668,4,4,1.0,0,0,0,1,6,3,2019,4,0,19,15,15
2669,4,4,1.0,0,0,1,1,15,6,2019,4,55,19,15,14

In [14]:
### we cannot use the evluation mterices on this datasetif we using the test dataset from the already provided
### as there's no price provided in that one
### so I will make test data from train data for the evaluation purposes and then after,
### I will use the algorithms on the new test data (basically which is our test data)

### performance metrices : template

In [24]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, root_mean_squared_error

In [25]:
def eval_metrices(y_pred, y_test) : 
    print(r2_score(y_pred, y_test))
    print(mean_squared_error(y_pred, y_test))
    print(mean_absolute_error(y_pred, y_test))
    print(root_mean_squared_error(y_pred, y_test))

## Testing on old data

### Algorithm #1 : Linear regression

### => without hypertunning