## Processing Data

In [1]:
#------------autoreloader
%load_ext autoreload
%autoreload 2

In [2]:
#------------setting up the path
import sys
sys.path.append('../')

In [3]:
#------------importing the src functions
from src.process_data.data import load_data, get_info, get_nan, drop_col, save_data

### ------------- Scaled Data -------------

In [4]:
#-------------Train data
df_train_scaled_path = '../data/intermidiate/scaled/train.csv'
df_train_scaled = load_data(df_train_scaled_path)
df_train_scaled.head()

,Source,Destination,Total_Stops,Price,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info,Date_of_Journey_day,Date_of_Journey_month,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_in_hours
0,2,2,0,0.027497,1,0,0,0,0.884615,0.000000,0.956522,0.363636,0.043478,0.181818,0.034483
1,1,1,2,0.075920,0,0,0,0,0.000000,0.666667,0.217391,0.909091,0.565217,0.272727,0.206897
2,0,0,2,0.155917,0,1,0,0,0.307692,1.000000,0.391304,0.454545,0.173913,0.454545,0.620690
3,1,1,1,0.057348,1,0,0,0,0.423077,0.666667,0.782609,0.090909,1.000000,0.545455,0.137931
4,2,2,1,0.148457,1,0,0,0,0.000000,0.000000,0.695652,0.909091,0.913043,0.636364,0.103448

In [6]:
#---------first check, veryfying the null values
get_nan(df_train_scaled)

Source                       0
Destination                  0
Total_Stops                  0
Price                        0
Airline_IndiGo               0
Airline_Jet Airways          0
Airline_other                0
Additional_Info_Some info    0
Date_of_Journey_day          0
Date_of_Journey_month        0
Dep_Time_hour                0
Dep_Time_minute              0
Arrival_Time_hour            0
Arrival_Time_minute          0
Duration_in_hours            0
dtype: int64

In [7]:
#-------------veryfying with df_info
get_info(df_train_scaled)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Source                     10683 non-null  int64
 1   Destination                10683 non-null  int64
 2   Total_Stops                10683 non-null  int64
 3   Price                      10683 non-null  float64
 4   Airline_IndiGo             10683 non-null  int64
 5   Airline_Jet Airways        10683 non-null  int64
 6   Airline_other              10683 non-null  int64
 7   Additional_Info_Some info  10683 non-null  int64
 8   Date_of_Journey_day        10683 non-null  float64
 9   Date_of_Journey_month      10683 non-null  float64
 10  Dep_Time_hour              10683 non-null  float64
 11  Dep_Time_minute            10683 non-null  float64
 12  Arrival_Time_hour          10683 non-null  float64
 13  Arrival_Time_minute        10683 non-null  float64
 14  Duration_in_hours          10683 non-null  float64
dtypes: float64(8), int64(7)
memory usage: 1.2 MB

In [8]:
#-----------separating the price column and saving them differently
price_scaled = df_train_scaled['Price']
price_scaled

0        0.027497
1        0.075920
2        0.155917
3        0.057348
4        0.148457
           ...
10678    0.030198
10679    0.030687
10680    0.070351
10681    0.140046
10682    0.128535
Name: Price, Length: 10683, dtype: float64

In [9]:
#-------------dropping the price column from the main data,
drop_col(df_train_scaled, 'Price')
df_train_scaled.head()

,Source,Destination,Total_Stops,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info,Date_of_Journey_day,Date_of_Journey_month,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_in_hours
0,2,2,0,1,0,0,0,0.884615,0.000000,0.956522,0.363636,0.043478,0.181818,0.034483
1,1,1,2,0,0,0,0,0.000000,0.666667,0.217391,0.909091,0.565217,0.272727,0.206897
2,0,0,2,0,1,0,0,0.307692,1.000000,0.391304,0.454545,0.173913,0.454545,0.620690
3,1,1,1,1,0,0,0,0.423077,0.666667,0.782609,0.090909,1.000000,0.545455,0.137931
4,2,2,1,1,0,0,0,0.000000,0.000000,0.695652,0.909091,0.913043,0.636364,0.103448

In [10]:
#--------------loading the test scaled data
df_test_scaled_path = '../data/intermidiate/scaled/test.csv'
df_test_scaled = load_data(df_test_scaled_path)
df_test_scaled.head()

,Source,Destination,Total_Stops,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info,Date_of_Journey_day,Date_of_Journey_month,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_in_hours
0,0,0,1,0,1,0,0,0.192308,1.000000,0.739130,0.545455,0.173913,0.454545,0.230769
1,1,1,1,1,0,0,0,0.423077,0.666667,0.260870,0.363636,0.434783,0.363636,0.076923
2,0,0,1,0,1,0,1,0.769231,0.666667,0.826087,0.272727,0.826087,0.000000,0.564103
3,0,0,1,0,0,1,0,0.769231,0.666667,0.347826,0.000000,0.913043,0.000000,0.307692
4,2,2,0,0,0,1,0,0.884615,1.000000,1.000000,1.000000,0.086957,0.818182,0.025641

In [11]:
#------------performing the initial checks
get_nan(df_test_scaled)

Source                       0
Destination                  0
Total_Stops                  0
Airline_IndiGo               0
Airline_Jet Airways          0
Airline_other                0
Additional_Info_Some info    0
Date_of_Journey_day          0
Date_of_Journey_month        0
Dep_Time_hour                0
Dep_Time_minute              0
Arrival_Time_hour            0
Arrival_Time_minute          0
Duration_in_hours            0
dtype: int64

In [18]:
#-----------------now we have all three data, we'll steup the paths and save them
model_ready_scaled_price_path = '../data/model_ready/scaled/price_scaled.csv'
model_ready_scaled_train_path = '../data/model_ready/scaled/train_scaled.csv'
model_ready_scaled_test_path = '../data/model_ready/scaled/test_scaled.csv'

In [19]:
#--------------saving the data
save_data(df_train_scaled, model_ready_scaled_train_path)
save_data(df_test_scaled, model_ready_scaled_test_path)
save_data(price_scaled, model_ready_scaled_price_path)

In [20]:
#---------------veryfying if, it went well
df_train_scaled = load_data(model_ready_scaled_train_path)
df_train_scaled.head()

,Source,Destination,Total_Stops,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info,Date_of_Journey_day,Date_of_Journey_month,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_in_hours
0,2,2,0,1,0,0,0,0.884615,0.000000,0.956522,0.363636,0.043478,0.181818,0.034483
1,1,1,2,0,0,0,0,0.000000,0.666667,0.217391,0.909091,0.565217,0.272727,0.206897
2,0,0,2,0,1,0,0,0.307692,1.000000,0.391304,0.454545,0.173913,0.454545,0.620690
3,1,1,1,1,0,0,0,0.423077,0.666667,0.782609,0.090909,1.000000,0.545455,0.137931
4,2,2,1,1,0,0,0,0.000000,0.000000,0.695652,0.909091,0.913043,0.636364,0.103448

In [21]:
price_scaled = load_data(model_ready_scaled_price_path)
price_scaled.head()

      Price
0  0.027497
1  0.075920
2  0.155917
3  0.057348
4  0.148457

### ----------------- Non Scaled data -----------------

In [22]:
#-------------Train data
df_train_non_scaled_path = '../data/intermidiate/non-scaled/train.csv'
df_train_non_scaled = load_data(df_train_non_scaled_path)
df_train_non_scaled.head()

,Source,Destination,Total_Stops,Price,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info,Date_of_Journey_day,Date_of_Journey_month,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_in_hours
0,2,2,0,3897,1,0,0,0,24,3,22,20,1,10,2
1,1,1,2,7662,0,0,0,0,1,5,5,50,13,15,7
2,0,0,2,13882,0,1,0,0,9,6,9,25,4,25,19
3,1,1,1,6218,1,0,0,0,12,5,18,5,23,30,5
4,2,2,1,13302,1,0,0,0,1,3,16,50,21,35,4

In [23]:
#---------first check, veryfying the null values
get_nan(df_train_non_scaled)

Source                       0
Destination                  0
Total_Stops                  0
Price                        0
Airline_IndiGo               0
Airline_Jet Airways          0
Airline_other                0
Additional_Info_Some info    0
Date_of_Journey_day          0
Date_of_Journey_month        0
Dep_Time_hour                0
Dep_Time_minute              0
Arrival_Time_hour            0
Arrival_Time_minute          0
Duration_in_hours            0
dtype: int64

In [24]:
#-------------veryfying with df_info
get_info(df_train_non_scaled)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Source                     10683 non-null  int64
 1   Destination                10683 non-null  int64
 2   Total_Stops                10683 non-null  int64
 3   Price                      10683 non-null  int64
 4   Airline_IndiGo             10683 non-null  int64
 5   Airline_Jet Airways        10683 non-null  int64
 6   Airline_other              10683 non-null  int64
 7   Additional_Info_Some info  10683 non-null  int64
 8   Date_of_Journey_day        10683 non-null  int64
 9   Date_of_Journey_month      10683 non-null  int64
 10  Dep_Time_hour              10683 non-null  int64
 11  Dep_Time_minute            10683 non-null  int64
 12  Arrival_Time_hour          10683 non-null  int64
 13  Arrival_Time_minute        10683 non-null  int64
 14  Duration_in_hours          10683 non-null  int64
dtypes: int64(15)
memory usage: 1.2 MB

In [25]:
#-----------separating the price column and saving them differently
price_non_scaled = df_train_non_scaled['Price']
price_non_scaled

0         3897
1         7662
2        13882
3         6218
4        13302
         ...
10678     4107
10679     4145
10680     7229
10681    12648
10682    11753
Name: Price, Length: 10683, dtype: int64

In [26]:
#-------------dropping the price column from the main data,
drop_col(df_train_non_scaled, 'Price')
df_train_non_scaled.head()

,Source,Destination,Total_Stops,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info,Date_of_Journey_day,Date_of_Journey_month,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_in_hours
0,2,2,0,1,0,0,0,24,3,22,20,1,10,2
1,1,1,2,0,0,0,0,1,5,5,50,13,15,7
2,0,0,2,0,1,0,0,9,6,9,25,4,25,19
3,1,1,1,1,0,0,0,12,5,18,5,23,30,5
4,2,2,1,1,0,0,0,1,3,16,50,21,35,4

In [27]:
#--------------loading the test scaled data
df_test_non_scaled_path = '../data/intermidiate/non-scaled/test.csv'
df_test_non_scaled = load_data(df_test_non_scaled_path)
df_test_non_scaled.head()

,Source,Destination,Total_Stops,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info,Date_of_Journey_day,Date_of_Journey_month,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_in_hours
0,0,0,1,0,1,0,0,6,6,17,30,4,25,10
1,1,1,1,1,0,0,0,12,5,6,20,10,20,4
2,0,0,1,0,1,0,1,21,5,19,15,19,0,23
3,0,0,1,0,0,1,0,21,5,8,0,21,0,13
4,2,2,0,0,0,1,0,24,6,23,55,2,45,2

In [28]:
#------------performing the initial checks
get_nan(df_test_scaled)

Source                       0
Destination                  0
Total_Stops                  0
Airline_IndiGo               0
Airline_Jet Airways          0
Airline_other                0
Additional_Info_Some info    0
Date_of_Journey_day          0
Date_of_Journey_month        0
Dep_Time_hour                0
Dep_Time_minute              0
Arrival_Time_hour            0
Arrival_Time_minute          0
Duration_in_hours            0
dtype: int64

In [30]:
#-----------------now we have all three data, we'll steup the paths and save them
model_ready_non_scaled_price_path = '../data/model_ready/non-scaled/price_non_scaled.csv'
model_ready_non_scaled_train_path = '../data/model_ready/non-scaled/train_non_scaled.csv'
model_ready_non_scaled_test_path = '../data/model_ready/non-scaled/test_non_scaled.csv'

In [31]:
#--------------saving the data
save_data(df_train_non_scaled, model_ready_non_scaled_train_path)
save_data(df_test_non_scaled, model_ready_non_scaled_test_path)
save_data(price_non_scaled, model_ready_non_scaled_price_path)

In [32]:
#---------------veryfying if, it went well
df_train_non_scaled = load_data(model_ready_non_scaled_train_path)
df_train_non_scaled.head()

,Source,Destination,Total_Stops,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info,Date_of_Journey_day,Date_of_Journey_month,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_in_hours
0,2,2,0,1,0,0,0,24,3,22,20,1,10,2
1,1,1,2,0,0,0,0,1,5,5,50,13,15,7
2,0,0,2,0,1,0,0,9,6,9,25,4,25,19
3,1,1,1,1,0,0,0,12,5,18,5,23,30,5
4,2,2,1,1,0,0,0,1,3,16,50,21,35,4

In [33]:
price_non_scaled = load_data(model_ready_non_scaled_price_path)
price_non_scaled.head()

   Price
0   3897
1   7662
2  13882
3   6218
4  13302