## Processing the Test_set

### Preprocessing just on the df_test only

In [1]:
#------------autoreloader
%load_ext autoreload
%autoreload 2

In [2]:
#---------importing the src and other libraries
import sys
sys.path.append('../../../..')
from src.data.load_data import load_data, get_nan, get_shape, get_info, save_data
from src.featured_engineering.processing_cols import unique_values, value_counts, one_hot, label_encoding, columns_to_drop, split_numerical, split_numerical_further

In [3]:
#--------------data path
df_path = '../../../../data/raw/Test_set.xlsx'

In [4]:
df = load_data(df_path)

In [5]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [6]:
#-------------shape of the dataset
shape_df = get_shape(df)
shape_df

(2671, 10)

In [7]:
#--------------checking nan values in the dataset
null_values_df = get_nan(df)
null_values_df

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [8]:
#------------df.head() for the further operations and decisions
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [9]:
#------------seprating the categorical columns into 2 categories, onehot encoding and label encoding
cat_cols_to_onehot = ['Airline', 'Additional_Indo']
cat_cols_to_label = ['Source', 'Destination', 'Total_Stops']

In [10]:
#------------making the backup copy of the dataset
df_copy = df

In [11]:
#--------------checking df_copy.head()
df_copy.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [12]:
#----------------- checking for the nan as final check for df_copy
null_values_df_copy = get_nan(df_copy)
null_values_df_copy

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

##### ----------Categorical column : Airline---------------

In [13]:
#----------------checking the unique values, just in case sometimes, the nan is also hidden there
unique_values_airline = unique_values(df, 'Airline')
unique_values_airline

array(['Jet Airways', 'IndiGo', 'Multiple carriers', 'Air Asia',
       'Air India', 'Vistara', 'SpiceJet', 'Vistara Premium economy',
       'GoAir', 'Multiple carriers Premium economy',
       'Jet Airways Business'], dtype=object)

In [14]:
#------------working on one hot columns
#------------checking the values first
value_count_airline = value_counts(df, 'Airline')
value_count_airline

Airline
Jet Airways                          897
IndiGo                               511
Air India                            440
Multiple carriers                    347
SpiceJet                             208
Vistara                              129
Air Asia                              86
GoAir                                 46
Multiple carriers Premium economy      3
Vistara Premium economy                2
Jet Airways Business                   2
Name: count, dtype: int64

In [15]:
#----------keeping top_3 categories only, and the rest as other
top_3_airlines = value_count_airline.head(3).index.to_list()
top_3_airlines

['Jet Airways', 'IndiGo', 'Air India']

In [16]:
#------------------now mapping the top 3 airlines and rest as other
df['Airline'] = df['Airline'].apply(lambda x : x if x in top_3_airlines else 'other')

In [17]:
#----------------getting the value count again for this feature
value_count_airline_v2 = value_counts(df, 'Airline')
value_count_airline_v2

Airline
Jet Airways    897
other          823
IndiGo         511
Air India      440
Name: count, dtype: int64

In [18]:
#----------------applying the one hot encoding
df = one_hot(df, ['Airline'])
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Airline_IndiGo,Airline_Jet Airways,Airline_other
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,0,1,0
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,1,0,0
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,0,1,0
3,other,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,0,0,1
4,other,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,0,0,1

##### ---------------Categorical column : Additional info---------------

In [19]:
#------------loading the unique values
unique_values_additional_info = unique_values(df, 'Additional_Info')
unique_values_additional_info

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Long layover', 'Business class',
       'Change airports'], dtype=object)

In [20]:
#--------------value counts
value_count_additional_info = value_counts(df, 'Additional_Info')
value_count_additional_info

Additional_Info
No info                         2148
In-flight meal not included      444
No check-in baggage included      76
1 Long layover                     1
Business class                     1
Change airports                    1
Name: count, dtype: int64

In [21]:
#----------------making only 2 categories and then applying the one hot
df['Additional_Info'] = df['Additional_Info'].apply(lambda x : x if x == 'No info' else 'Some info')

In [22]:
#---------------checking the value counts again
value_count_additional_info_v2 = value_counts(df, 'Additional_Info')
value_count_additional_info_v2

Additional_Info
No info      2148
Some info     523
Name: count, dtype: int64

In [23]:
#------------applying the one hot
df = one_hot(df, ['Additional_Info'])
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,0,1,0,0
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,1,0,0,0
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,Some info,0,1,0,1
3,other,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,0,0,1,0
4,other,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,0,0,1,0

##### ---------------------Categorical column : Source----------------

In [24]:
#------------------unique values for the column
unique_values_source = unique_values(df, 'Source')
unique_values_source

array(['Delhi', 'Kolkata', 'Banglore', 'Mumbai', 'Chennai'], dtype=object)

In [25]:
#---------------value counts for the column
value_count_source = value_counts(df, 'Source')
value_count_source

Source
Delhi       1145
Kolkata      710
Banglore     555
Mumbai       186
Chennai       75
Name: count, dtype: int64

In [26]:
#-------------this column requires the label encoding, so I will do the mapping based on departures meaning the airport is busy
#-------------mapping the categories
source_mapping = {cat : i for i, cat in enumerate(value_count_source.index)}
source_mapping

{'Delhi': 0, 'Kolkata': 1, 'Banglore': 2, 'Mumbai': 3, 'Chennai': 4}

In [27]:
#--------using the label encoding now
df = label_encoding(df, 'Source', source_mapping)
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info
0,Jet Airways,6/06/2019,0,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,0,1,0,0
1,IndiGo,12/05/2019,1,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,1,0,0,0
2,Jet Airways,21/05/2019,0,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,Some info,0,1,0,1
3,other,21/05/2019,0,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,0,0,1,0
4,other,24/06/2019,2,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,0,0,1,0

##### --------------------categorical column : Destination-------------------

In [28]:
#---------------unique values
unique_value_destination = unique_values(df, 'Destination')
unique_value_destination

array(['Cochin', 'Banglore', 'Delhi', 'New Delhi', 'Hyderabad', 'Kolkata'],
      dtype=object)

In [29]:
#----------value_counts, for the same logic as source for mapping
value_count_destination = value_counts(df, 'Destination')
value_count_destination

Destination
Cochin       1145
Banglore      710
Delhi         317
New Delhi     238
Hyderabad     186
Kolkata        75
Name: count, dtype: int64

In [30]:
#----------Delhi and New Delhi are the same as destination
df['Destination'] = df['Destination'].apply(lambda x : 'Delhi' if x == 'New Delhi' else x)

In [31]:
#-----------------checking the values again
value_count_destination_v2 = value_counts(df, 'Destination')
value_count_destination_v2

Destination
Cochin       1145
Banglore      710
Delhi         555
Hyderabad     186
Kolkata        75
Name: count, dtype: int64

In [32]:
#-------------mapping the categories
destination_mapping = {cat : i for i, cat in enumerate(value_count_destination_v2.index)}
destination_mapping

{'Cochin': 0, 'Banglore': 1, 'Delhi': 2, 'Hyderabad': 3, 'Kolkata': 4}

In [33]:
#---------------appylying the mapping
df = label_encoding(df, 'Destination', destination_mapping)
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info
0,Jet Airways,6/06/2019,0,0,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,0,1,0,0
1,IndiGo,12/05/2019,1,1,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,1,0,0,0
2,Jet Airways,21/05/2019,0,0,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,Some info,0,1,0,1
3,other,21/05/2019,0,0,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,0,0,1,0
4,other,24/06/2019,2,2,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,0,0,1,0

##### ---------------Categorical column : Total_Stops--------------------

In [34]:
#----------checking the unique values
unique_value_total_stops = unique_values(df, 'Total_Stops')
unique_value_total_stops

array(['1 stop', 'non-stop', '2 stops', '3 stops', '4 stops'],
      dtype=object)

In [35]:
#--------------value counts for the column
value_counts_total_stops = value_counts(df, 'Total_Stops')
value_counts_total_stops

Total_Stops
1 stop      1431
non-stop     849
2 stops      379
3 stops       11
4 stops        1
Name: count, dtype: int64

In [36]:
#----------------mapping for the total_stops column, that has to be manual
#----------------for 3, 4 stops values are too few, so I will merge them with 2 stops to reduce the noise, 
#----------------but incase of test data, I will not
total_stops_mapping = {
    'non-stop' : 0,
    '1 stop' : 1,
    '2 stops' : 2,
    '3 stops' : 2,
    '4 stops' : 2
}
total_stops_mapping

{'non-stop': 0, '1 stop': 1, '2 stops': 2, '3 stops': 2, '4 stops': 2}

In [37]:
#------------applying the mapping
df = label_encoding(df, 'Total_Stops', total_stops_mapping)
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info
0,Jet Airways,6/06/2019,0,0,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1,No info,0,1,0,0
1,IndiGo,12/05/2019,1,1,CCU → MAA → BLR,06:20,10:20,4h,1,No info,1,0,0,0
2,Jet Airways,21/05/2019,0,0,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1,Some info,0,1,0,1
3,other,21/05/2019,0,0,DEL → BOM → COK,08:00,21:00,13h,1,No info,0,0,1,0
4,other,24/06/2019,2,2,BLR → DEL,23:55,02:45 25 Jun,2h 50m,0,No info,0,0,1,0

In [38]:
#---------------checking the value count again
value_counts_total_stops_v2 = value_counts(df, 'Total_Stops')
value_counts_total_stops_v2

Total_Stops
1    1431
0     849
2     391
Name: count, dtype: int64

##### ----------------working with numerical columns---------------

In [39]:
#------------df.head()
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info
0,Jet Airways,6/06/2019,0,0,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1,No info,0,1,0,0
1,IndiGo,12/05/2019,1,1,CCU → MAA → BLR,06:20,10:20,4h,1,No info,1,0,0,0
2,Jet Airways,21/05/2019,0,0,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1,Some info,0,1,0,1
3,other,21/05/2019,0,0,DEL → BOM → COK,08:00,21:00,13h,1,No info,0,0,1,0
4,other,24/06/2019,2,2,BLR → DEL,23:55,02:45 25 Jun,2h 50m,0,No info,0,0,1,0

In [40]:
numerical_cols = ['Date_of_Journey', 'Dep_Time', 'Arrival_Time', 'Duration']
numerical_cols

['Date_of_Journey', 'Dep_Time', 'Arrival_Time', 'Duration']

##### --------------numerical column : Date_of_Journey----------------

In [41]:
#-----------unqiue values
unique_value_date_of_journey = unique_values(df, 'Date_of_Journey')
unique_value_date_of_journey

array(['6/06/2019', '12/05/2019', '21/05/2019', '24/06/2019',
       '12/06/2019', '12/03/2019', '1/05/2019', '15/03/2019',
       '18/05/2019', '21/03/2019', '15/06/2019', '15/05/2019',
       '3/06/2019', '06/03/2019', '24/03/2019', '6/03/2019', '9/05/2019',
       '18/03/2019', '6/04/2019', '1/06/2019', '3/03/2019', '27/03/2019',
       '9/06/2019', '3/05/2019', '1/04/2019', '18/06/2019', '15/04/2019',
       '6/05/2019', '9/03/2019', '3/04/2019', '27/06/2019', '21/06/2019',
       '21/04/2019', '18/04/2019', '9/04/2019', '24/05/2019',
       '01/03/2019', '09/03/2019', '27/05/2019', '03/03/2019',
       '27/04/2019', '1/03/2019', '24/04/2019', '12/04/2019'],
      dtype=object)

In [42]:
#----------splitting the values
df = split_numerical(df, 'Date_of_Journey')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info,Date_of_Journey_day,Date_of_Journey_month,Date_of_Journey_year
0,Jet Airways,6/06/2019,0,0,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1,No info,0,1,0,0,6,06,2019
1,IndiGo,12/05/2019,1,1,CCU → MAA → BLR,06:20,10:20,4h,1,No info,1,0,0,0,12,05,2019
2,Jet Airways,21/05/2019,0,0,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1,Some info,0,1,0,1,21,05,2019
3,other,21/05/2019,0,0,DEL → BOM → COK,08:00,21:00,13h,1,No info,0,0,1,0,21,05,2019
4,other,24/06/2019,2,2,BLR → DEL,23:55,02:45 25 Jun,2h 50m,0,No info,0,0,1,0,24,06,2019

In [43]:
#----------checking the values for the day, month and year column
unique_values_day = unique_values(df, 'Date_of_Journey_day')
unique_values_month = unique_values(df, 'Date_of_Journey_month')
unique_values_year = unique_values(df, 'Date_of_Journey_year')
print(f"{unique_values_day} :: {unique_values_month} :: {unique_values_year}")

['6' '12' '21' '24' '1' '15' '18' '3' '06' '9' '27' '01' '09' '03'] :: ['06' '05' '03' '04'] :: ['2019']

##### ------------------Numerical column : Dep_Time---------------------

In [44]:
#----------checking the unique values
unique_value_dep_time = unique_values(df, 'Dep_Time')
unique_value_dep_time

array(['17:30', '06:20', '19:15', '08:00', '23:55', '18:15', '07:30',
       '15:15', '10:10', '16:30', '13:55', '06:50', '09:00', '05:45',
       '21:25', '13:15', '09:55', '22:55', '10:45', '20:00', '05:30',
       '21:05', '16:00', '14:00', '22:50', '19:50', '07:10', '05:55',
       '16:55', '18:55', '10:20', '17:10', '13:00', '22:45', '21:00',
       '17:45', '09:25', '14:05', '09:45', '02:00', '11:40', '17:00',
       '06:00', '07:05', '16:45', '19:40', '03:50', '21:15', '11:30',
       '12:00', '21:50', '05:50', '07:55', '09:10', '08:20', '09:30',
       '10:00', '14:55', '22:10', '07:00', '19:55', '19:30', '15:00',
       '05:35', '06:40', '17:15', '21:20', '07:35', '06:55', '17:35',
       '11:15', '20:15', '20:25', '05:40', '15:05', '20:55', '14:25',
       '19:45', '08:25', '22:00', '21:10', '02:15', '08:30', '20:40',
       '14:15', '14:35', '11:10', '19:35', '15:20', '06:10', '22:20',
       '08:35', '14:40', '09:40', '01:30', '08:50', '19:05', '08:55',
       '11:35', '04:55', '14:10', '09:35', '17:50', '15:45', '02:55',
       '00:30', '19:00', '23:05', '11:25', '05:25', '05:15', '12:50',
       '06:45', '18:05', '13:25', '09:20', '02:30', '23:30', '07:45',
       '11:55', '20:20', '08:15', '17:25', '09:50', '15:50', '10:35',
       '14:30', '06:30', '11:50', '19:10', '20:45', '15:10', '16:50',
       '16:35', '10:30', '04:45', '04:00', '04:40', '18:25', '15:35',
       '19:20', '13:10', '13:05', '09:15', '20:30', '12:30', '11:00',
       '08:45', '07:20', '14:45', '10:55', '05:00', '15:55', '15:30',
       '20:05', '18:45', '16:10', '23:25', '16:40', '07:15', '13:20',
       '06:05', '20:50', '11:20', '06:15', '18:00', '18:40', '12:55',
       '05:10', '22:05', '07:25', '05:05', '22:30', '04:50', '18:20',
       '17:40', '00:40', '11:45', '22:15', '15:40', '14:20', '20:35',
       '13:30', '02:35', '17:05', '17:55', '21:30', '22:40', '08:10',
       '06:25', '20:10', '18:35', '13:50', '00:25', '01:35', '16:15',
       '10:25', '12:10', '23:00'], dtype=object)

In [45]:
#---------------------splitting the values
df = split_numerical(df, 'Dep_Time')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info,Date_of_Journey_day,Date_of_Journey_month,Date_of_Journey_year,Dep_Time_hour,Dep_Time_minute
0,Jet Airways,6/06/2019,0,0,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1,No info,0,1,0,0,6,06,2019,17,30
1,IndiGo,12/05/2019,1,1,CCU → MAA → BLR,06:20,10:20,4h,1,No info,1,0,0,0,12,05,2019,06,20
2,Jet Airways,21/05/2019,0,0,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1,Some info,0,1,0,1,21,05,2019,19,15
3,other,21/05/2019,0,0,DEL → BOM → COK,08:00,21:00,13h,1,No info,0,0,1,0,21,05,2019,08,00
4,other,24/06/2019,2,2,BLR → DEL,23:55,02:45 25 Jun,2h 50m,0,No info,0,0,1,0,24,06,2019,23,55

##### -------------------- Numerical column : Arrival_Time ----------------------

In [46]:
#----------unique values
unique_value_arrival_time = unique_values(df, 'Arrival_Time')
unique_value_arrival_time

array(['04:25 07 Jun', '10:20', '19:00 22 May', '21:00', '02:45 25 Jun',
       '12:35 13 Jun', '22:35', '20:30', '12:55', '18:50 22 Mar', '16:10',
       '19:15', '10:25', '12:35 04 Jun', '08:15 07 Mar', '22:30', '22:10',
       '04:25 13 Jun', '08:15 13 Mar', '01:35 07 Mar', '10:05 10 May',
       '09:00 16 Mar', '19:00', '23:55', '04:25 22 Mar', '17:45',
       '01:20 04 Mar', '01:35 28 Mar', '12:35', '22:50', '08:35', '23:00',
       '12:00 10 May', '19:40', '01:30 16 May', '00:15 10 Jun',
       '07:40 16 Jun', '02:15 02 May', '20:05', '18:50 04 Mar', '15:25',
       '22:35 02 Apr', '13:45 13 May', '19:50', '16:20 25 Mar', '11:25',
       '12:00', '18:10', '07:45', '19:10', '12:10', '18:50 07 May',
       '09:25 10 Mar', '22:25', '22:20', '15:50', '07:25', '00:15 13 Jun',
       '18:50', '13:30', '19:00 19 May', '21:50', '15:45', '10:40',
       '11:20', '12:20', '05:25 02 May', '17:50', '10:05 19 May',
       '01:00 25 Jun', '09:05 10 Jun', '01:30 10 May', '10:35',
       '08:15 10 May', '08:15 19 May', '18:15 19 May', '19:15 02 Jun',
       '20:45', '07:40', '04:25 16 Jun', '07:05', '18:30', '10:10',
       '01:35 10 Mar', '19:45', '10:05 13 Jun', '00:45 07 Mar', '21:20',
       '09:30', '22:15', '19:15 16 May', '18:25', '01:30 16 Apr',
       '04:25 07 Mar', '20:25 19 May', '10:25 13 Mar', '14:05', '08:45',
       '20:20', '12:35 10 May', '16:55', '19:35', '03:35 07 May', '12:45',
       '16:20', '05:25 02 Apr', '10:50 16 Mar', '22:35 25 Mar', '11:30',
       '09:25 28 May', '00:15 19 May', '16:45', '04:40 10 Jun',
       '08:15 16 May', '00:05 22 Jun', '19:55', '12:00 13 May', '21:05',
       '15:30', '17:55', '08:55', '00:40 19 Mar', '17:15', '17:05',
       '00:15 07 Mar', '04:15', '10:35 16 Mar', '18:30 25 Mar', '20:35',
       '00:40 25 Jun', '21:55', '10:55 10 Jun', '01:30 04 Jun',
       '00:40 28 Jun', '09:25 07 Mar', '14:45', '19:15 07 Jun', '14:00',
       '11:10 07 Jun', '04:25 22 May', '07:55 25 Mar', '10:45 25 May',
       '17:10', '11:10 16 May', '10:55 07 Jun', '08:15 02 May',
       '07:40 07 Jun', '16:50 07 Mar', '01:30 28 Jun', '01:30 07 Jun',
       '15:35', '22:05', '09:45 25 May', '01:20 02 Apr', '19:50 16 May',
       '04:20', '08:15 02 Mar', '03:25', '20:25', '00:55 13 Mar',
       '11:05 25 May', '14:25 10 May', '23:25', '01:30 10 Jun', '09:40',
       '01:30 25 May', '04:25 04 Mar', '19:15 28 May', '21:10',
       '12:35 28 Jun', '14:15', '08:55 19 May', '04:00', '20:40',
       '02:20 07 Mar', '12:35 28 May', '00:15 25 Jun', '23:35',
       '05:25 13 Jun', '14:20', '00:55 10 Apr', '16:20 07 May',
       '04:25 04 Jun', '09:25 02 Mar', '20:20 10 May', '22:55', '09:35',
       '10:05', '08:15 22 Apr', '13:55 13 Mar', '09:25 02 Jun', '18:00',
       '08:55 25 May', '12:00 02 Apr', '11:10 16 Mar', '23:50',
       '01:30 19 May', '09:10 13 Mar', '14:25 07 Jun', '17:20',
       '08:55 10 May', '16:25', '07:40 10 Jun', '04:25 10 Jun', '13:15',
       '11:35 07 Mar', '10:15 19 Mar', '19:00 16 Jun', '10:50 25 Mar',
       '07:10 22 May', '18:15 13 May', '23:30', '19:15 10 Jun',
       '05:35 10 May', '13:45 07 Jun', '18:15 22 May', '19:00 07 May',
       '22:40', '01:30 13 Jun', '23:35 16 May', '21:20 16 Mar',
       '09:05 22 May', '08:30', '07:40 16 Mar', '04:25 28 Mar',
       '19:00 02 Apr', '01:30 02 Jun', '04:25', '19:00 28 Jun',
       '01:00 07 Jun', '18:50 10 Mar', '07:45 22 May', '06:50',
       '08:15 25 May', '13:55', '01:20 16 Apr', '07:15', '01:35 04 Mar',
       '08:15 13 May', '00:40 02 May', '18:00 25 May', '04:25 02 Jun',
       '10:25 16 Mar', '23:40', '23:45', '19:00 28 May', '04:40 02 May',
       '00:45 08 Mar', '12:35 16 Jun', '10:30', '12:35 10 Apr', '14:30',
       '19:25', '04:25 28 May', '04:25 08 Mar', '13:45 10 Jun',
       '05:35 25 Mar', '17:40', '04:25 19 May', '09:25 07 Jun', '23:20',
       '18:50 10 May', '09:20 07 May', '07:35', '23:35 02 Apr',
       '22:05 13 May', '01:30 16 Jun', '13:40', '10:05 25 May', '12:30',
       '17:20 13 Jun', '18:15', '07:40 28 Jun', '10:15', '16:20 13 Jun',
       '09:30 13 Mar', '19:15 22 Mar', '18:05', '00:40 10 Jun', '21:45',
       '20:45 07 Jun', '21:40', '00:15 07 May', '12:35 25 Jun',
       '18:15 07 Jun', '02:10 16 Mar', '06:35 07 May', '19:45 07 Mar',
       '00:20 28 Mar', '21:25', '16:15 19 May', '00:05 19 Jun',
       '07:40 04 Jun', '19:15 28 Mar', '19:00 13 Jun', '01:30 28 May',
       '13:20', '09:25 04 Jun', '15:55', '09:45 07 May', '07:40 19 Mar',
       '12:00 25 Mar', '01:10 04 Mar', '08:50', '18:50 13 May', '09:20',
       '23:15', '09:25 28 Mar', '09:20 10 Jun', '18:00 19 May',
       '10:55 22 May', '18:50 13 Jun', '04:40 16 May', '04:25 10 Mar',
       '04:40 13 May', '01:20 25 Mar', '10:45 07 Jun', '19:45 28 Mar',
       '04:25 23 Mar', '06:50 16 Jun', '13:25', '18:40', '07:40 22 Mar',
       '08:15 13 Jun', '10:55 13 Jun', '23:00 16 Mar', '00:05 04 Jun',
       '16:15', '01:30 22 May', '23:25 07 May', '07:40 02 Jun', '18:20',
       '16:20 25 May', '11:05 13 Jun', '00:05 16 Apr', '21:35',
       '19:15 16 Jun', '04:25 11 Mar', '15:15', '05:25 19 May',
       '07:40 28 May', '09:20 16 May', '08:00', '00:45 02 Mar',
       '01:20 13 May', '01:20 07 Jun', '17:35', '00:25 22 Mar',
       '00:05 13 Jun', '12:00 25 May', '18:15 16 May', '13:35',
       '19:15 07 Mar', '04:25 29 Jun', '10:55 19 May', '23:25 10 May',
       '19:40 25 Mar', '11:25 07 Mar', '11:50', '10:40 25 Mar', '09:50',
       '15:05 07 May', '05:25 13 May', '00:55 22 May', '13:00',
       '12:00 13 Jun', '12:35 22 May', '13:45 13 Jun', '10:55 25 May',
       '04:40 07 Jun', '00:40 19 May', '07:40 10 Mar', '12:05',
       '07:40 19 May', '04:45 25 Mar', '08:55 02 May', '22:40 02 May',
       '04:25 25 Jun', '09:25 10 Jun', '18:05 13 Mar', '04:25 29 May',
       '00:05 22 Apr', '01:35 22 Mar', '00:05 02 May', '07:55 13 May',
       '19:00 02 Jun', '19:15 13 Jun', '01:00 10 May', '23:45 13 Mar',
       '09:10 07 Mar', '08:15 04 Mar', '07:40 22 May', '04:40 07 May',
       '04:25 10 May', '10:05 02 May', '01:00 22 Apr', '20:50',
       '02:20 22 May', '16:30 07 Mar', '00:05 07 May', '01:30 25 Jun',
       '19:10 02 Apr', '10:00 02 Apr', '19:10 13 May', '01:00 16 Jun',
       '11:10 25 May', '07:40 07 Mar', '08:15 28 Jun', '09:45 02 May',
       '04:40 22 May', '12:00 22 May', '09:15 07 Mar', '09:20 02 Apr',
       '19:15 10 Mar', '00:10 04 Mar', '19:00 10 May', '01:20 07 May',
       '00:20 04 Jun', '00:15 02 Apr', '09:10', '02:20 02 Apr',
       '18:15 13 Jun', '19:00 10 Apr', '11:10 10 May', '18:00 02 May',
       '15:05 02 Apr', '10:25 19 Mar', '05:25 07 May', '09:25 25 Jun',
       '09:25 07 Apr', '00:50 04 Apr', '00:40 19 Jun', '09:20 13 May',
       '05:25 10 Jun', '20:00', '11:35 02 Mar', '00:40 13 May',
       '20:45 07 May', '09:20 25 May', '09:20 10 May', '00:05 13 Apr',
       '05:05 16 Mar', '11:25 02 Mar', '12:30 10 May', '09:25 16 Jun',
       '07:40 04 Mar', '09:05 25 May', '08:15 10 Mar', '16:20 13 May',
       '00:05 19 Mar', '00:15 25 Apr', '23:35 22 May', '08:15 02 Apr',
       '20:45 02 Apr', '23:25 16 May', '17:25', '19:55 07 Mar',
       '04:40 13 Jun', '00:05 25 Mar', '14:10', '00:25 02 Mar',
       '00:40 10 May', '01:30 07 May', '19:15 22 May', '13:45 16 May',
       '04:40 19 May', '19:15 04 Mar', '12:35 10 Jun', '23:55 13 Mar',
       '07:45 02 Apr', '20:20 07 Mar', '09:20 22 May', '05:35 10 Jun',
       '04:40 25 May', '22:05 25 May', '00:15 07 Apr', '10:05 16 May',
       '05:35 13 May', '23:35 13 May', '19:15 04 Jun', '09:25 04 Apr',
       '20:45 16 May', '09:45 16 May', '19:10 13 Mar', '12:00 16 May',
       '22:35 16 May', '09:20 02 May', '19:00 25 Jun', '22:55 07 Mar',
       '11:10 10 Jun', '13:45 25 Mar', '00:05 28 Apr', '16:20 07 Jun',
       '04:40 02 Apr', '00:15 04 May', '04:05', '18:35', '22:35 07 Jun',
       '04:40 10 May', '08:20', '00:50 02 Apr', '22:05 19 May',
       '11:25 13 Mar', '08:10 25 Mar', '22:55 10 Jun', '09:35 25 Jun',
       '10:00', '12:35 19 May', '10:35 02 Mar', '05:25 25 May',
       '09:25 04 Mar', '01:20 13 Jun', '21:20 13 Mar', '07:10 13 Jun',
       '19:50 10 Jun', '00:40 16 May', '00:15 02 May', '00:05 19 May',
       '12:30 22 May', '20:45 13 May', '08:15 10 Jun', '21:05 13 Jun',
       '00:40 04 May', '09:30 16 Mar', '14:25 13 Jun', '21:05 25 May',
       '10:05 07 Jun', '00:05 10 Mar', '01:00 02 Apr', '08:15 16 Mar',
       '13:15 13 Mar', '22:00', '22:45', '11:10 25 Mar', '14:35',
       '09:00 02 Mar', '23:35 07 Jun', '14:25 25 May', '09:25 10 May',
       '00:05 04 Apr', '05:05 02 Mar', '04:25 28 Jun', '20:45 25 May',
       '04:40 04 Apr', '02:20 19 Mar', '21:05 16 May', '00:15 10 May',
       '10:45', '15:15 13 Mar', '01:20 10 Jun', '20:20 13 May', '12:15',
       '19:15 07 May', '00:15 28 Jun', '22:05 16 May', '15:15 07 Mar',
       '09:05 07 May', '16:20 10 Jun', '10:45 07 May', '11:10 07 May',
       '06:35 28 May', '08:55 10 Jun', '09:05 16 May', '08:55 22 May',
       '10:50 07 Mar', '10:45 13 May', '01:30 02 May', '07:10 25 May',
       '01:20 25 Apr', '14:40', '16:10 13 Mar', '19:15 28 Jun',
       '00:20 16 Mar', '02:45 25 Apr', '10:40 25 May', '00:25 02 May',
       '07:40 25 Jun', '22:40 13 May', '09:00 07 Mar', '19:10 25 May',
       '01:20 02 Mar', '10:20 02 Mar', '18:45', '09:45 10 May',
       '10:05 22 May', '01:20 10 May', '10:30 07 May', '10:00 10 Jun',
       '07:40 28 Mar', '00:05 13 May', '00:40 13 Mar', '19:50 07 May',
       '06:50 13 Jun', '20:20 07 Jun', '07:55', '18:00 16 May',
       '18:15 02 Apr', '07:10 04 Mar', '10:40 07 May', '23:00 10 May',
       '23:00 13 Mar', '16:05', '01:20 19 May', '16:35', '05:25 16 May',
       '06:50 04 Jun', '22:35 13 May', '02:10 19 Mar', '19:10 10 Jun',
       '18:50 02 May', '16:15 10 Jun', '00:20 25 Jun', '08:40',
       '20:40 25 Mar', '10:30 25 May', '00:40 28 May', '02:45 16 Jun',
       '08:15 02 Jun', '09:15 13 Mar', '03:35 19 May', '05:35 07 Jun',
       '18:15 10 Jun', '10:45 10 May', '16:45 07 Mar', '01:20 10 Apr',
       '21:05 02 Apr', '02:20 16 May', '00:05 25 May', '20:45 22 May',
       '11:10 02 Apr', '02:45 10 May', '19:00 07 Jun', '22:40 10 May',
       '07:40 13 Jun', '04:25 05 Mar', '01:00 13 Apr', '18:00 13 May',
       '00:40 04 Apr', '03:35 25 May', '00:15 22 May', '12:00 19 May',
       '14:25 22 May', '00:15 04 Jun', '22:05 07 May', '07:10 10 Jun',
       '08:15 07 Jun', '07:40 10 May', '00:15 19 Mar', '18:30 16 May',
       '19:10 22 May', '12:50', '03:15', '09:50 07 May', '00:05 04 Mar',
       '19:15 10 May', '10:25 07 Mar', '08:15 22 May', '05:25 07 Jun',
       '00:15 02 Jun', '00:15 07 Jun', '23:35 10 Jun', '23:25 02 Mar',
       '01:20 04 May', '22:40 19 May', '14:25 10 Jun', '10:40 19 May',
       '09:15 25 Mar', '23:00 04 Mar', '10:45 19 May', '00:50 13 Jun',
       '14:50', '01:20 22 May', '20:25 13 May', '12:25 13 Mar',
       '04:25 29 Mar', '11:55 07 Mar', '10:05 02 Apr', '00:05 02 Apr',
       '05:05 07 Mar', '04:35 10 Jun', '06:50 19 May', '12:30 13 Jun',
       '00:05 02 Jun', '07:55 07 Jun', '12:40', '18:30 02 May',
       '07:55 19 May', '02:45 02 Apr', '19:00 04 Jun', '00:50 19 Apr',
       '13:00 07 Mar', '00:40 13 Apr', '00:05 22 Mar', '00:40 07 May',
       '00:20 07 Mar', '22:05 22 May', '19:15 10 Apr', '00:05 28 Jun',
       '07:55 02 Apr', '04:25 20 May', '00:20 02 Apr', '07:45 13 May',
       '00:15 22 Jun', '20:25 07 Jun'], dtype=object)

In [15]:
#-----------here, we have 2 different formats, so my approach is to split and get the hour part,
#-----------after that work seprately on the minute part

In [47]:
#------------splitting the column
df = split_numerical(df, 'Arrival_Time')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,...,Airline_Jet Airways,Airline_other,Additional_Info_Some info,Date_of_Journey_day,Date_of_Journey_month,Date_of_Journey_year,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute
0,Jet Airways,6/06/2019,0,0,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1,No info,...,1,0,0,6,06,2019,17,30,04,25 07 Jun
1,IndiGo,12/05/2019,1,1,CCU → MAA → BLR,06:20,10:20,4h,1,No info,...,0,0,0,12,05,2019,06,20,10,20
2,Jet Airways,21/05/2019,0,0,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1,Some info,...,1,0,1,21,05,2019,19,15,19,00 22 May
3,other,21/05/2019,0,0,DEL → BOM → COK,08:00,21:00,13h,1,No info,...,0,1,0,21,05,2019,08,00,21,00
4,other,24/06/2019,2,2,BLR → DEL,23:55,02:45 25 Jun,2h 50m,0,No info,...,0,1,0,24,06,2019,23,55,02,45 25 Jun

##### -----------------numerical column : Arrival_Time_minute-------------------

In [48]:
#------------getting the unique values as usual
unique_value_arrival_time_minute = unique_values(df, 'Arrival_Time_minute')
unique_value_arrival_time_minute

array(['25 07 Jun', '20', '00 22 May', '00', '45 25 Jun', '35 13 Jun',
       '35', '30', '55', '50 22 Mar', '10', '15', '25', '35 04 Jun',
       '15 07 Mar', '25 13 Jun', '15 13 Mar', '35 07 Mar', '05 10 May',
       '00 16 Mar', '25 22 Mar', '45', '20 04 Mar', '35 28 Mar', '50',
       '00 10 May', '40', '30 16 May', '15 10 Jun', '40 16 Jun',
       '15 02 May', '05', '50 04 Mar', '35 02 Apr', '45 13 May',
       '20 25 Mar', '50 07 May', '25 10 Mar', '15 13 Jun', '00 19 May',
       '25 02 May', '05 19 May', '00 25 Jun', '05 10 Jun', '30 10 May',
       '15 10 May', '15 19 May', '15 02 Jun', '25 16 Jun', '35 10 Mar',
       '05 13 Jun', '45 07 Mar', '15 16 May', '30 16 Apr', '25 07 Mar',
       '25 19 May', '25 13 Mar', '35 10 May', '35 07 May', '25 02 Apr',
       '50 16 Mar', '35 25 Mar', '25 28 May', '40 10 Jun', '05 22 Jun',
       '00 13 May', '40 19 Mar', '35 16 Mar', '30 25 Mar', '40 25 Jun',
       '55 10 Jun', '30 04 Jun', '40 28 Jun', '15 07 Jun', '10 07 Jun',
       '25 22 May', '55 25 Mar', '45 25 May', '10 16 May', '55 07 Jun',
       '40 07 Jun', '50 07 Mar', '30 28 Jun', '30 07 Jun', '20 02 Apr',
       '50 16 May', '15 02 Mar', '55 13 Mar', '05 25 May', '25 10 May',
       '30 10 Jun', '30 25 May', '25 04 Mar', '15 28 May', '35 28 Jun',
       '55 19 May', '20 07 Mar', '35 28 May', '15 25 Jun', '55 10 Apr',
       '20 07 May', '25 04 Jun', '25 02 Mar', '20 10 May', '15 22 Apr',
       '25 02 Jun', '55 25 May', '00 02 Apr', '10 16 Mar', '30 19 May',
       '10 13 Mar', '55 10 May', '25 10 Jun', '15 19 Mar', '00 16 Jun',
       '50 25 Mar', '10 22 May', '15 13 May', '45 07 Jun', '15 22 May',
       '00 07 May', '30 13 Jun', '35 16 May', '20 16 Mar', '05 22 May',
       '40 16 Mar', '25 28 Mar', '30 02 Jun', '00 28 Jun', '00 07 Jun',
       '50 10 Mar', '45 22 May', '15 25 May', '20 16 Apr', '35 04 Mar',
       '40 02 May', '00 25 May', '25 16 Mar', '00 28 May', '45 08 Mar',
       '35 16 Jun', '35 10 Apr', '25 08 Mar', '45 10 Jun', '50 10 May',
       '05 13 May', '30 16 Jun', '20 13 Jun', '30 13 Mar', '15 22 Mar',
       '15 07 May', '35 25 Jun', '20 28 Mar', '05 19 Jun', '40 04 Jun',
       '15 28 Mar', '00 13 Jun', '30 28 May', '45 07 May', '00 25 Mar',
       '10 04 Mar', '50 13 May', '20 10 Jun', '55 22 May', '50 13 Jun',
       '40 16 May', '40 13 May', '45 28 Mar', '25 23 Mar', '50 16 Jun',
       '40 22 Mar', '55 13 Jun', '05 04 Jun', '30 22 May', '25 07 May',
       '40 02 Jun', '20 25 May', '05 16 Apr', '15 16 Jun', '25 11 Mar',
       '40 28 May', '20 16 May', '45 02 Mar', '20 13 May', '20 07 Jun',
       '25 29 Jun', '40 25 Mar', '05 07 May', '25 13 May', '35 22 May',
       '45 13 Jun', '40 19 May', '40 10 Mar', '45 25 Mar', '55 02 May',
       '25 25 Jun', '05 13 Mar', '25 29 May', '05 22 Apr', '35 22 Mar',
       '05 02 May', '55 13 May', '00 02 Jun', '45 13 Mar', '10 07 Mar',
       '15 04 Mar', '40 22 May', '40 07 May', '00 22 Apr', '20 22 May',
       '30 07 Mar', '30 25 Jun', '10 02 Apr', '10 13 May', '10 25 May',
       '40 07 Mar', '15 28 Jun', '45 02 May', '15 10 Mar', '20 04 Jun',
       '15 02 Apr', '00 10 Apr', '10 10 May', '00 02 May', '05 02 Apr',
       '25 19 Mar', '25 07 Apr', '50 04 Apr', '40 19 Jun', '35 02 Mar',
       '05 13 Apr', '05 16 Mar', '40 04 Mar', '05 19 Mar', '15 25 Apr',
       '45 02 Apr', '25 16 May', '55 07 Mar', '40 13 Jun', '05 25 Mar',
       '40 10 May', '30 07 May', '45 16 May', '35 10 Jun', '40 25 May',
       '15 07 Apr', '05 16 May', '35 13 May', '15 04 Jun', '25 04 Apr',
       '00 16 May', '20 02 May', '10 10 Jun', '05 28 Apr', '40 02 Apr',
       '15 04 May', '35 07 Jun', '50 02 Apr', '10 25 Mar', '35 19 May',
       '25 25 May', '20 13 Mar', '10 13 Jun', '50 10 Jun', '40 04 May',
       '30 16 Mar', '05 07 Jun', '05 10 Mar', '15 16 Mar', '00 02 Mar',
       '05 04 Apr', '05 02 Mar', '25 28 Jun', '40 04 Apr', '20 19 Mar',
       '10 07 May', '30 02 May', '20 25 Apr', '45 25 Apr', '00 07 Mar',
       '20 02 Mar', '45 10 May', '00 10 Jun', '40 28 Mar', '40 13 Mar',
       '00 13 Mar', '20 19 May', '50 04 Jun', '10 19 Mar', '50 02 May',
       '20 25 Jun', '45 16 Jun', '20 10 Apr', '25 05 Mar', '00 13 Apr',
       '35 25 May', '05 04 Mar', '20 04 May', '15 25 Mar', '00 04 Mar',
       '45 19 May', '25 29 Mar', '05 07 Mar', '50 19 May', '05 02 Jun',
       '00 04 Jun', '50 19 Apr', '40 13 Apr', '05 22 Mar', '15 10 Apr',
       '05 28 Jun', '55 02 Apr', '25 20 May', '15 22 Jun'], dtype=object)

In [49]:
#------------------further splitting the column
df = split_numerical_further(df, 'Arrival_Time_minute')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,...,Airline_Jet Airways,Airline_other,Additional_Info_Some info,Date_of_Journey_day,Date_of_Journey_month,Date_of_Journey_year,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute
0,Jet Airways,6/06/2019,0,0,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1,No info,...,1,0,0,6,06,2019,17,30,04,25
1,IndiGo,12/05/2019,1,1,CCU → MAA → BLR,06:20,10:20,4h,1,No info,...,0,0,0,12,05,2019,06,20,10,20
2,Jet Airways,21/05/2019,0,0,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1,Some info,...,1,0,1,21,05,2019,19,15,19,00
3,other,21/05/2019,0,0,DEL → BOM → COK,08:00,21:00,13h,1,No info,...,0,1,0,21,05,2019,08,00,21,00
4,other,24/06/2019,2,2,BLR → DEL,23:55,02:45 25 Jun,2h 50m,0,No info,...,0,1,0,24,06,2019,23,55,02,45

In [50]:
#----------------veryfying with the unique values
unique_value_arrival_time_minute_v2 = unique_values(df, 'Arrival_Time_minute')
unique_value_arrival_time_minute_v2

array(['25', '20', '00', '45', '35', '30', '55', '50', '10', '15', '05',
       '40'], dtype=object)

##### ---------------------numerical column : Duration----------------

In [51]:
#------------checking out the unique values
unique_value_duration = unique_values(df, 'Duration')
unique_value_duration

array(['10h 55m', '4h', '23h 45m', '13h', '2h 50m', '18h 20m', '15h 5m',
       '5h 15m', '2h 45m', '6h 5m', '28h 55m', '9h 20m', '10h 15m',
       '4h 40m', '17h 20m', '10h 50m', '9h 15m', '12h 15m', '9h 10m',
       '14h 50m', '14h 5m', '11h 35m', '13h 30m', '12h 25m', '2h 30m',
       '25h 30m', '19h 25m', '7h', '11h 40m', '7h 5m', '3h', '1h 25m',
       '2h 40m', '17h 5m', '10h 40m', '12h 30m', '1h 30m', '23h 40m',
       '2h 20m', '23h 35m', '27h 40m', '28h 20m', '5h 45m', '26h 25m',
       '5h 40m', '2h 15m', '2h 55m', '7h 30m', '5h 20m', '25h 50m',
       '13h 15m', '26h 20m', '5h 25m', '8h 45m', '7h 20m', '21h 10m',
       '16h', '7h 50m', '16h 5m', '5h 55m', '13h 50m', '11h 55m',
       '13h 20m', '18h 10m', '28h 10m', '5h', '23h 15m', '1h 15m',
       '1h 20m', '13h 25m', '6h 15m', '10h 10m', '4h 35m', '11h',
       '12h 20m', '15h 10m', '19h', '13h 45m', '9h 50m', '2h 35m',
       '7h 15m', '23h', '10h 25m', '5h 5m', '22h 45m', '8h 40m',
       '11h 30m', '15h 40m', '7h 55m', '12h 50m', '25h 25m', '10h 20m',
       '8h 30m', '12h 45m', '12h 10m', '22h 30m', '7h 45m', '21h 55m',
       '6h 30m', '2h 25m', '25h 45m', '33h 20m', '11h 25m', '15h 15m',
       '14h 30m', '8h', '21h 15m', '26h 50m', '16h 50m', '9h 5m',
       '16h 45m', '11h 15m', '22h 55m', '17h 45m', '23h 10m', '25h 20m',
       '23h 50m', '14h 25m', '24h 50m', '10h 30m', '19h 40m', '6h 20m',
       '27h 20m', '9h 25m', '5h 10m', '7h 40m', '6h 35m', '28h 50m',
       '14h 35m', '19h 55m', '38h', '4h 45m', '6h 25m', '21h 40m',
       '3h 5m', '4h 55m', '16h 10m', '6h 45m', '11h 45m', '6h', '22h 25m',
       '19h 10m', '24h', '14h 40m', '20h 30m', '16h 15m', '8h 15m',
       '8h 25m', '23h 5m', '19h 30m', '25h 10m', '21h 25m', '4h 50m',
       '18h 25m', '4h 5m', '16h 40m', '28h', '24h 55m', '6h 55m',
       '8h 20m', '26h', '9h', '20h 55m', '23h 20m', '27h 35m', '21h 35m',
       '15h 30m', '14h', '28h 40m', '14h 45m', '11h 10m', '20h',
       '24h 15m', '12h', '20h 10m', '27h 45m', '20h 35m', '11h 5m',
       '12h 35m', '25h', '10h', '18h 50m', '18h 45m', '8h 5m', '4h 25m',
       '14h 55m', '22h 5m', '9h 45m', '25h 55m', '25h 5m', '4h 10m',
       '9h 35m', '26h 55m', '11h 50m', '7h 35m', '5h 35m', '5h 30m',
       '35h 35m', '17h 15m', '15h 45m', '3h 15m', '16h 25m', '25h 40m',
       '12h 40m', '12h 55m', '10h 35m', '31h 55m', '20h 45m', '38h 15m',
       '24h 45m', '1h 35m', '24h 30m', '34h 30m', '23h 30m', '6h 10m',
       '9h 30m', '8h 55m', '26h 35m', '15h 35m', '5h 50m', '20h 20m',
       '23h 55m', '22h 10m', '20h 15m', '13h 55m', '3h 40m', '33h 15m',
       '25h 35m', '17h 55m', '24h 10m', '29h 35m', '27h 5m', '15h 25m',
       '3h 10m', '13h 35m', '8h 50m', '6h 40m', '30h 20m', '15h 55m',
       '21h 5m', '26h 40m', '37h 20m', '29h 20m', '13h 5m', '29h 40m',
       '10h 5m', '4h 30m', '21h 20m', '13h 10m', '17h 35m', '33h 45m',
       '6h 50m', '26h 10m', '16h 35m', '36h 25m', '3h 45m', '14h 20m',
       '22h 15m', '17h 25m', '31h 10m', '24h 5m', '20h 25m', '18h 30m',
       '26h 15m', '30h 40m', '30h', '27h 10m', '24h 40m', '15h 20m',
       '7h 10m', '28h 15m', '14h 10m', '18h 40m', '27h 50m', '8h 10m',
       '39h 5m', '16h 20m', '12h 5m', '19h 15m', '29h 55m', '27h',
       '30h 45m', '29h 5m', '32h 5m', '32h 20m', '15h', '15h 50m',
       '22h 40m', '19h 45m', '30h 30m', '18h', '28h 5m', '24h 25m',
       '9h 40m', '24h 35m', '21h 45m', '10h 45m', '17h 40m', '16h 30m',
       '27h 55m', '16h 55m', '8h 35m', '26h 30m', '30h 25m', '27h 30m',
       '26h 5m', '22h', '19h 5m', '11h 20m', '40h 40m', '22h 50m',
       '32h 25m', '17h 30m', '7h 25m', '4h 20m', '24h 20m', '38h 35m',
       '9h 55m', '38h 20m', '5m'], dtype=object)

In [52]:
#---------------for this column, I will do the single split and then take the hour part only
#---------------applying the split
df = split_numerical(df, 'Duration')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,...,Additional_Info_Some info,Date_of_Journey_day,Date_of_Journey_month,Date_of_Journey_year,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_in_hours,Duration_in_minutes
0,Jet Airways,6/06/2019,0,0,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1,No info,...,0,6,06,2019,17,30,04,25,10,55m
1,IndiGo,12/05/2019,1,1,CCU → MAA → BLR,06:20,10:20,4h,1,No info,...,0,12,05,2019,06,20,10,20,4,
2,Jet Airways,21/05/2019,0,0,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1,Some info,...,1,21,05,2019,19,15,19,00,23,45m
3,other,21/05/2019,0,0,DEL → BOM → COK,08:00,21:00,13h,1,No info,...,0,21,05,2019,08,00,21,00,13,
4,other,24/06/2019,2,2,BLR → DEL,23:55,02:45 25 Jun,2h 50m,0,No info,...,0,24,06,2019,23,55,02,45,2,50m

In [53]:
#-------------veryfying by getting the unique values
unique_values_duration_in_hours = unique_values(df, 'Duration_in_hours')
unique_values_duration_in_hours

array(['10', '4', '23', '13', '2', '18', '15', '5', '6', '28', '9', '17',
       '12', '14', '11', '25', '19', '7', '3', '1', '27', '26', '8', '21',
       '16', '22', '33', '24', '38', '20', '35', '31', '34', '29', '30',
       '37', '36', '39', '32', '40', '5m'], dtype=object)

In [54]:
#-----------so there is this value as '5m', I will replace it as mode of the distrubution
mode_duration_in_hours = df['Duration_in_hours'].mode().iloc[0]
mode_duration_in_hours

'2'

In [55]:
df['Duration_in_hours'] = df['Duration_in_hours'].apply(lambda x : '2' if x == '5m' else x)

In [56]:
#--------------re-veryfying the values
unique_values_duration_in_hours_v2 = unique_values(df, 'Duration_in_hours')
unique_values_duration_in_hours_v2

array(['10', '4', '23', '13', '2', '18', '15', '5', '6', '28', '9', '17',
       '12', '14', '11', '25', '19', '7', '3', '1', '27', '26', '8', '21',
       '16', '22', '33', '24', '38', '20', '35', '31', '34', '29', '30',
       '37', '36', '39', '32', '40'], dtype=object)

In [57]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,...,Additional_Info_Some info,Date_of_Journey_day,Date_of_Journey_month,Date_of_Journey_year,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_in_hours,Duration_in_minutes
0,Jet Airways,6/06/2019,0,0,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1,No info,...,0,6,06,2019,17,30,04,25,10,55m
1,IndiGo,12/05/2019,1,1,CCU → MAA → BLR,06:20,10:20,4h,1,No info,...,0,12,05,2019,06,20,10,20,4,
2,Jet Airways,21/05/2019,0,0,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1,Some info,...,1,21,05,2019,19,15,19,00,23,45m
3,other,21/05/2019,0,0,DEL → BOM → COK,08:00,21:00,13h,1,No info,...,0,21,05,2019,08,00,21,00,13,
4,other,24/06/2019,2,2,BLR → DEL,23:55,02:45 25 Jun,2h 50m,0,No info,...,0,24,06,2019,23,55,02,45,2,50m

##### ------------- Final steps --------------

In [60]:
#------------ dropping the columns, that are not needed
cols_to_drop = [
    'Airline', 'Date_of_Journey', 'Route', 'Dep_Time', 'Arrival_Time', 'Duration', 'Additional_Info', 'Date_of_Journey_year', 'Duration_in_minutes'
    ]
df = columns_to_drop(df, cols_to_drop)
df.head()

,Source,Destination,Total_Stops,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info,Date_of_Journey_day,Date_of_Journey_month,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_in_hours
0,0,0,1,0,1,0,0,6,06,17,30,04,25,10
1,1,1,1,1,0,0,0,12,05,06,20,10,20,4
2,0,0,1,0,1,0,1,21,05,19,15,19,00,23
3,0,0,1,0,0,1,0,21,05,08,00,21,00,13
4,2,2,0,0,0,1,0,24,06,23,55,02,45,2

In [61]:
#-----------------getting the final info check
df_info = get_info(df)
df_info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Source                     2671 non-null   int64
 1   Destination                2671 non-null   int64
 2   Total_Stops                2671 non-null   int64
 3   Airline_IndiGo             2671 non-null   int32
 4   Airline_Jet Airways        2671 non-null   int32
 5   Airline_other              2671 non-null   int32
 6   Additional_Info_Some info  2671 non-null   int32
 7   Date_of_Journey_day        2671 non-null   object
 8   Date_of_Journey_month      2671 non-null   object
 9   Dep_Time_hour              2671 non-null   object
 10  Dep_Time_minute            2671 non-null   object
 11  Arrival_Time_hour          2671 non-null   object
 12  Arrival_Time_minute        2671 non-null   object
 13  Duration_in_hours          2671 non-null   object
dtypes: int32(4), int64(3), object(7)
memory usage: 250.5+ KB

##### --------------- completetion ------------

In [ ]:
### The dataset has been completed according to the intermidiate standards, now only the further checks before making the model ready
### QQ plot check and checking for the distributions then, it will straight go to the tree/distance based models
### same pipeline and similar logic will also follow on the test data.

In [62]:
#--------------saving the data
df_path = '../../../../data/intermidiate/test.csv'
save_data(df, df_path)

In [63]:
#---------------veryfying if everything went well
df = load_data(df_path)
df.head()

,Source,Destination,Total_Stops,Airline_IndiGo,Airline_Jet Airways,Airline_other,Additional_Info_Some info,Date_of_Journey_day,Date_of_Journey_month,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_in_hours
0,0,0,1,0,1,0,0,6,6,17,30,4,25,10
1,1,1,1,1,0,0,0,12,5,6,20,10,20,4
2,0,0,1,0,1,0,1,21,5,19,15,19,0,23
3,0,0,1,0,0,1,0,21,5,8,0,21,0,13
4,2,2,0,0,0,1,0,24,6,23,55,2,45,2